<% layout("/layouts/boilerplate") -%>

    <body>
        <h1 class="text-center my-4">Edit Listing</h1>
        <div class="rows">
            <div class="col-md-8 offset-2">

                <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate
                    class="needs-validation">

                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" name="listing[description]"
                            required><%= listing.description %></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="text" class="form-control" name="listing[image][url]"
                            value="<%= listing.image.url %>">

                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label">Price</label>
                            <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>"
                                required>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-label">Location</label>
                            <input type="text" class="form-control" name="listing[location]"
                                value="<%= listing.location %>" required>
                        </div>

                        <div class="mb-3 col-md-4">
                            <label class="form-label">Country</label>
                            <input type="text" class="form-control" name="listing[country]"
                                value="<%= listing.country %>" required>
                        </div>
                    </div>

                    <button class="btn btn-danger mb-3">Edit Listing</button>
                </form>


            </div>
        </div>